body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

.announcement {
    margin-top: -16px;
    margin-left: -1%;
    margin-right: auto;
    display: block;
    height: 35px;
    width: 102%;
    color: aqua;
    background-color: aqua;
    
}

.announcement_message {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    justify-content: center;
}